body{
background-image: url(./pen.jpeg);
background-size: cover;
}
/* Css of the  bootstrap card */
.card{
    width: 18rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-left: 200px;
    padding: 20px;
    text-align: center; 
}
/* Css of the message below the card */
.condition{
    margin-left: 260px;
}
.condition p {
    font-weight:bolder ;
    color: rgb(253, 67, 98);
}